BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
UPI_ID=yourname@upi
PRIVATE_CHANNEL_ID=-1001234567890
KOYEB_PUBLIC_URL=https://your-app-name.koyeb.app
ADMIN_ID=YOUR_TELEGRAM_ID
MONGO_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
START_IMAGE_URL=
HELP_IMAGE_URL=
PROFILE_IMAGE_URL=
PLAN_IMAGE_URL=
SUPPORT_IMAGE_URL=